//
// Entypo
//
//   generated 05/07/13 11:29:19 AM

@import "compass/css3/font-face";
@import "compass-icon-fonts";

$icon-font-family: "Entypo";

$icon-font-class: "entypo";

$icon-font-files: font-files("entypo.eot", "entypo.woff", "entypo.ttf", "entypo.svg");

$icon-font-size: 1.25em;

$icon-font-characters:
    "phone", "📞",
    "mobile", "📱",
    "mouse", "",
    "address", "",
    "mail", "✉",
    "paper-plane", "🔿",
    "pencil", "✎",
    "feather", "✒",
    "attach", "📎",
    "inbox", "",
    "reply", "",
    "reply-all", "",
    "forward", "➦",
    "user", "👤",
    "users", "👥",
    "add-user", "",
    "vcard", "",
    "export", "",
    "location", "",
    "map", "",
    "compass", "➢",
    "direction", "",
    "hair-cross", "🎯",
    "share", "",
    "shareable", "",
    "heart", "♥",
    "heart-empty", "♡",
    "star", "★",
    "star-empty", "☆",
    "thumbs-up", "👍",
    "thumbs-down", "👎",
    "chat", "",
    "comment", "",
    "quote", "❞",
    "home", "⌂",
    "popup", "",
    "search", "🔍",
    "flashlight", "🔦",
    "print", "",
    "bell", "🔔",
    "link", "🔗",
    "flag", "⚑",
    "cog", "⚙",
    "tools", "⚒",
    "trophy", "🏆",
    "tag", "",
    "camera", "📷",
    "megaphone", "📣",
    "moon", "☽",
    "palette", "🎨",
    "leaf", "🍂",
    "note", "♪",
    "beamed-note", "♫",
    "new", "💥",
    "graduation-cap", "🎓",
    "book", "📕",
    "newspaper", "📰",
    "bag", "👜",
    "airplane", "✈",
    "lifebuoy", "",
    "eye", "",
    "clock", "🕔",
    "mic", "🎤",
    "calendar", "📅",
    "flash", "⚡",
    "thunder-cloud", "⛈",
    "droplet", "💧",
    "cd", "💿",
    "briefcase", "💼",
    "air", "💨",
    "hourglass", "⏳",
    "gauge", "🛇",
    "language", "🎔",
    "network", "",
    "key", "🔑",
    "battery", "🔋",
    "bucket", "📾",
    "magnet", "",
    "drive", "📽",
    "cup", "☕",
    "rocket", "🚀",
    "brush", "",
    "suitcase", "🛆",
    "traffic-cone", "🛈",
    "globe", "🌎",
    "keyboard", "⌨",
    "browser", "",
    "publish", "",
    "progress-3", "",
    "progress-2", "",
    "progress-1", "",
    "progress-0", "",
    "light-down", "🔅",
    "light-up", "🔆",
    "adjust", "◑",
    "code", "",
    "monitor", "💻",
    "infinity", "∞",
    "light-bulb", "💡",
    "credit-card", "💳",
    "database", "📸",
    "voicemail", "✇",
    "clipboard", "📋",
    "cart", "",
    "box", "📦",
    "ticket", "🎫",
    "rss", "",
    "signal", "📶",
    "thermometer", "📿",
    "water", "💦",
    "sweden", "",
    "line-graph", "📈",
    "pie-chart", "◴",
    "bar-graph", "📊",
    "area-graph", "🔾",
    "lock", "🔒",
    "lock-open", "🔓",
    "logout", "",
    "login", "",
    "check", "✓",
    "cross", "❌",
    "squared-minus", "⊟",
    "squared-plus", "⊞",
    "squared-cross", "❎",
    "circled-minus", "⊖",
    "circled-plus", "⊕",
    "circled-cross", "✖",
    "minus", "➖",
    "plus", "➕",
    "erase", "⌫",
    "block", "🚫",
    "info", "ℹ",
    "circled-info", "",
    "help", " ❓ ",
    "circled-help", "",
    "warning", "⚠",
    "cycle", "🔄",
    "cw", "⟳",
    "ccw", "⟲",
    "shuffle", "🔀",
    "back", "🔙",
    "level-down", "↳",
    "retweet", "",
    "loop", "🔁",
    "back-in-time", "",
    "level-up", "↰",
    "switch", "⇆",
    "numbered-list", "",
    "add-to-list", "",
    "layout", "⚏",
    "list", "☰",
    "text-doc", "📄",
    "text-doc-inverted", "",
    "doc", "",
    "docs", "",
    "landscape-doc", "",
    "picture", "🌄",
    "video", "🎬",
    "music", "🎵",
    "folder", "📁",
    "archive", "",
    "trash", "",
    "upload", "📤",
    "download", "📥",
    "save", "💾",
    "install", "",
    "cloud", "☁",
    "upload-cloud", "",
    "bookmark", "🔖",
    "bookmarks", "📑",
    "open-book", "📖",
    "play", "▶",
    "paus", "‖",
    "record", "●",
    "stop", "■",
    "ff", "⏩",
    "fb", "⏪",
    "to-start", "⏮",
    "to-end", "⏭",
    "resize-full", "",
    "resize-small", "",
    "volume", "⏷",
    "sound", "🔊",
    "mute", "🔇",
    "flow-cascade", "🕨",
    "flow-branch", "🕩",
    "flow-tree", "🕪",
    "flow-line", "🕫",
    "flow-parallel", "🕬",
    "left-bold", "",
    "down-bold", "",
    "up-bold", "",
    "right-bold", "",
    "left", "⬅",
    "down", "⬇",
    "up", "⬆",
    "right", "➡",
    "circled-left", "",
    "circled-down", "",
    "circled-up", "",
    "circled-right", "",
    "triangle-left", "◂",
    "triangle-down", "▾",
    "triangle-up", "▴",
    "triangle-right", "▸",
    "chevron-left", "",
    "chevron-down", "",
    "chevron-up", "",
    "chevron-right", "",
    "chevron-small-left", "",
    "chevron-small-down", "",
    "chevron-small-up", "",
    "chevron-small-right", "",
    "chevron-thin-left", "",
    "chevron-thin-down", "",
    "chevron-thin-up", "",
    "chevron-thin-right", "",
    "left-thin", "←",
    "down-thin", "↓",
    "up-thin", "↑",
    "right-thin", "→",
    "arrow-combo", "",
    "three-dots", "⏶",
    "two-dots", "⏵",
    "dot", "⏴",
    "cc", "🕅",
    "cc-by", "🕆",
    "cc-nc", "🕇",
    "cc-nc-eu", "🕈",
    "cc-nc-jp", "🕉",
    "cc-sa", "🕊",
    "cc-nd", "🕋",
    "cc-pd", "🕌",
    "cc-zero", "🕍",
    "cc-share", "🕎",
    "cc-remix", "🕏",
    "db-logo", "🗹",
    "db-shape", "🗺";
